@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 17px;
  min-width: 320px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.page-header {
  position: relative;
  padding-bottom: 40px;
  color: #fff;
  background-color: #08101a;
  background-position: -62% 0;
  background-size: auto;
}

.page-header__wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.page-header__logo {
  position: absolute;
  z-index: -1;
  top: 17px;
  right: 0;
  left: 0;
  width: 100px;
  margin: 0 auto;
}

.page-header__title {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  padding-top: 230px;
  padding-bottom: 190px;
  text-align: center;
  text-transform: uppercase;
}

.page-header__title-bold {
  font-weight: 500;
}

.page-header__second-title {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    width: 768px;
  }
  .page-header {
    padding-bottom: 67px;
  }
  .page-header__logo {
    top: 150px;
  }
  .page-header__title {
    padding-top: 280px;
    padding-bottom: 200px;
  }
}

@media (min-width: 1050px) {
  .page-header {
    width: 100%;
    height: 100vh;
  }
  .page-header__wrapper {
    width: 1050px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .page-header__logo {
    top: 125px;
    width: 150px;
  }
  .page-header__title {
    font-size: 60px;
    padding-top: 295px;
    padding-bottom: 170px;
  }
  .page-header__second-title {
    font-size: 24px;
  }
}

.main-nav {
  position: relative;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  z-index: 10;
  top: 55px;
  right: 29px;
  width: 21px;
  height: 22px;
  cursor: pointer;
  border: none;
  background: transparent url('../img/icon-menu-close.svg') no-repeat;
  background-size: 22px 22px;
}

.main-nav__toggle:focus {
  outline: none;
}

.main-nav__list {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__link {
  display: inline-block;
  overflow: hidden;
  padding-right: 5px;
  color: #fff;
}

.main-nav__link:active {
  font-weight: 700;
  opacity: .5;
}

.main-nav__link span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main-nav__link span::before {
  font-weight: 700;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.main-nav__link:hover span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.main-nav__link--active {
  opacity: .3;
}

.main-nav__item {
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.main-nav--closed .main-nav__toggle {
  width: 22px;
  height: 22px;
  background: transparent url('../img/icon-menu-open.svg') no-repeat;
  background-size: 22px 22px;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    z-index: 100;
  }
  .main-nav__list {
    position: absolute;
    z-index: 1;
  }
  .main-nav__item {
    background-color: #08101a;
  }
  .main-nav__item:first-child {
    padding-top: 55px;
  }
  .main-nav__item:last-child {
    padding-bottom: 55px;
  }
  .main-nav--tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    width: 700px;
    margin: 0 auto;
  }
  .main-nav__link {
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .main-nav__item {
    width: 200px;
  }
  .main-nav__list {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav__list--line {
    border-bottom: 1px solid #bebebe;
  }
  .main-nav__link--about-us {
    color: #bebebe;
  }
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1050px) {
  .main-nav {
    width: 950px;
  }
  .main-nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-nav__item {
    font-size: 24px;
    line-height: 24px;
  }
}

.about-us {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.about-us__title {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.about-us__text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-bottom: 20px;
}

.about-us__author {
  font-family: 'Neucha', cursive;
  font-size: 15px;
}

.about-us__description {
  margin-bottom: 30px;
}

.about-us__img {
  width: 280px;
}

.about-us__img-wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-us__description {
    width: 355px;
    padding-left: 20px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .about-us__img-wrapper {
    padding-top: 35px;
    padding-right: 20px;
  }
  .about-us__text {
    padding-bottom: 30px;
  }
  .about-us__img {
    width: 330px;
  }
}

@media (min-width: 1050px) {
  .about-us {
    width: 1050px;
    height: 100vh;
    margin-bottom: 10px;
  }
  .about-us__description {
    width: 600px;
    padding-left: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .about-us__title {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .about-us__img-wrapper {
    padding-top: 60px;
    padding-right: 55px;
  }
  .about-us__author {
    font-size: 17px;
  }
}

.portfolio {
  padding-bottom: 60px;
  background-color: #08101a;
}

.portfolio-wrapper {
  width: 320px;
  margin: 0 auto;
}

.portfolio__title {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.portfolio__item {
  width: 280px;
  padding-bottom: 20px;
}

.portfolio__img {
  display: block;
}

/*.portfolio__popup {
  outline: none; }*/

.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .portfolio__cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .portfolio-wrapper {
    width: 768px;
  }
  .portfolio__title {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .portfolio__item {
    padding-bottom: 40px;
  }
}

@media (min-width: 1050px) {
  .portfolio-wrapper {
    width: 1050px;
  }
  .portfolio__cards {
    width: 900px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .portfolio__item {
    padding-bottom: 60px;
  }
  .portfolio__title {
    font-size: 50px;
  }
}

.contacts {
  padding-bottom: 50px;
  text-align: center;
}

.contacts__title {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.contacts__email, .contacts__phone, .contacts__social {
  font-size: 20px;
  font-weight: 700;
}

.contacts__email-adress {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.contacts__email-link {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}

.contacts__phone-number {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 35px;
  color: #000;
}

@media (min-width: 768px) {
  .contacts__title {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .contacts__email-adress {
    margin-bottom: 40px;
  }
  .contacts__phone-number {
    margin-bottom: 40px;
  }
}

@media (min-width: 1050px) {
  .contacts__title {
    font-size: 50px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__link {
  cursor: pointer;
  transition-duration: 1s;
}

.social__link:hover {
  opacity: .3;
}

.social__item.social__item--ins {
  margin-right: 20px;
  margin-left: 20px;
}

.page-footer {
  margin: 0 auto;
}

.page-footer__copyright {
  font-size: 10px;
  font-weight: 300;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #bebebe;
  border-top: 1px solid #bebebe;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}

@media (min-width: 1050px) {
  .page-footer {
    width: 1050px;
    height: 100vh;
  }
  .page-footer__wrapper {
    width: 1050px;
  }
  .page-footer__copyright {
    font-size: 12px;
  }
}